// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

.navbar-nav a:hover {
  text-decoration: underline;
    }

// Custom styles:
#header {
  background-color: #ffffff;
  background-image: url(../img/pirate-ship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .active {
    font-weight: bold;
    }

.jumbotron {
  background-color: #ffffff;
    background-image: url(../img/pirate-ship.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 75ptx;
  text-align: center;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 35ptx;
  text-align: center;
}
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  h1{
    font-size: medium;
    font-weight: bold;
  }
  h2{
    font-style: italic;
    font-size: small;
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 25%;
  }
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.article {
  .byline{
    font-weight: bold;
  span{
    font-style: italic;
    font-weight: normal;
   }
  }
p{
  font-size: 1.2rem;
  line-height: 1.5rem;
 }
}